.title {
  padding: 3rem var(--gutter) 1.5rem;
  font-size: var(--font-size-heading-md);
}

.tabsWrapper {
  padding: 0 var(--gutter) 4rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item {
  display: flex;
  flex-direction: column;
}

.note {
  font-size: var(--font-size-xs);
  color: var(--color-text-secondary);
}
