.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--grid-gap) var(--grid-gap);
  row-gap: 3rem;
  padding: 0 var(--gutter);
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
